<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table>


  <tbody>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Picture</th>
      <th>Description</th>
      <th>Price</th>
      <th>Views number</th>
    </tr>

    <% Announcement.all.each do |announcement| %>
      <% if announcement.user == current_user %>


      <tr>
        <td><%= announcement.title %></td>
        <td>
          <% announcement.avatars.each do |avatar| %>
            <%= image_tag (avatar.thumb.url) unless avatar.file.nil? %>
            <% break %>
          <% end %></td>
        <td><%= announcement.description %></td>
        <td><%= announcement.price %></td>
        <td><%= announcement.viewn %></td>
        <td><%= link_to 'Ver', announcement , class: 'btn btn-info'%></td>
        <td><%= link_to 'Editar', edit_announcement_path(announcement),  class: 'btn btn-info' %></td>
        <td><%= link_to 'Excluir', announcement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info'  %></td>
      </tr>

      <%end%>
    <% end %>
  </table>
  </tbody>
</table>

<br>

<%= link_to '', new_announcement_path, class: 'btn btn-info' %>
